{% extends "base.html" %}
{% block title %}個人檔案{% endblock %}
{% block content %}
{% load tag %}
{% if user.id == user_id|to_int %}
<a href="/account/password-change">修改密碼</a>　<a href="/account/realname">修改姓名</a><BR><BR>
{% endif %}
  <h1>{{profile.user.first_name}}個人檔案</h1>
  <Table>
<tr><td rowspan=6 width=320><img src="/static/avatar/b{{ profile.avatar }}.png"></td></tr>
<tr><td>總積分</td><td>{{credit}}</td><td><a href="/account/log/0/{{user_id}}">記錄</a></td></tr>
<tr><td>作業積分</td><td>{{profile.work}}</td><td><a href="/account/log/1/{{user_id}}">記錄</a></td></tr>
<tr><td>小老師積分</td><td>{{profile.assistant}}</td><td><a href="/account/log/2/{{user_id}}">記錄</a></td></tr>
<tr><td>除錯積分</td><td>{{profile.debug}}</td><td><a href="/account/log/3/{{user_id}}">記錄</a></td></tr>
<tr><td>創意秀積分</td><td>{{profile.creative}}</td><td><a href="/account/log/4/{{user_id}}">記錄</a></td></tr>
  </Table>
{% endblock %}