{% extends "base.html" %}

{% block title %}My Blog{% endblock %}
{% load tz %}
{% block content %}
<table>
<tr>
<td>姓名</td>
<TD>美工設計</TD>
<TD>程式難度</TD>
<TD>創意表現</TD>
<TD>評語</TD>
<TD>時間</TD>
</tr>
  {% for review in reviews %}
	<tr>
	<td>{% if not review.done %}<font color=red>{% endif %}{{review.student.first_name}}</td>
	{% if review.done %}
	<td>{{review.score1}}</td>
	<td>{{review.score2}}</td>
	<td>{{review.score3}}</td>
	<td>{{review.comment}}</td>	
	<td>{{review.publish}}</td>
    {% else %}
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    {% endif %}	
	</tr>
  {% endfor %}
</table>
{% endblock %}